.frameChild {
  height: 145px;
  width: 433px;
  position: relative;
  box-shadow: 0 0 5.2px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.leftArrowSvgrepoCom1Icon {
  width: 27px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.leftArrowSvgrepoCom1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.frameItem {
  height: 53px;
  width: 319px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-300);
  display: none;
}
.cement {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.cementWrapper {
  width: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.searchCircleStreamlineUltiIcon {
  height: 43px;
  width: 43px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.rectangleGroup,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleGroup {
  width: 319px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-300);
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-mini);
  gap: var(--gap-xl);
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  box-shadow: 0 0 5.2px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-51xl) var(--padding-5xl) var(--padding-2xl);
  gap: var(--gap-7xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
